@model SettingsViewModel
@{
    ViewData["Title"] = "Settings";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Settings">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="AuthKey" class="form-label">Authorization Key</label>
        <input asp-for="AuthKey" class="form-control" aria-describedby="apikeyHelp">
        <div id="apikeyHelp" class="form-text">Non condividere mai la tua authorization key con altri.</div>
    </div>
    <div class="form-group mb-3">
        <label asp-for="TenantId">Tenant utente</label>
        <select class="form-control" asp-for="TenantId" asp-items="@(new SelectList(Model.Tenants, nameof(UserTenant.Id), nameof(UserTenant.DescrizioneAmbienteDati)))">
            <option selected>Selazionare un tenant</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>